*{

}

body{
	background-color:#f4f4f4;
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	/*same as above*/
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:0;
}

.footer{
	text-align: center;
}

a{
	text-decoration: none;
	color:#368EC9;

}

/*a:hover{
	color:red;
}

a:active{
	color:green;
}

a:visited{

}*/

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.container{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
}


.box-1{
	background-color:#FFFFFF; 
	color:#000000;

	/*border-right:5px red solid;
	border-left:5px red solid;
	border-top:5px red solid;
	border-bottom:5px red solid;*/

	padding-top:30px;
	padding-left: 70px;
	padding-right: 80px;
	padding-bottom: 50px;
}

.box-1 h1{
	font-family:Tahoma;
	font-weight:800;
	/*text-decoration: underline;
	text-transform: uppercase;*/
	letter-spacing: 0em;
	word-spacing: 0em;

}

.box-1 h2{
	font-family:Tahoma;
	font-size: 20px;
	color:black;
	border-top:20px;
	border-bottom: 1px solid;
	letter-spacing: 0em;
	word-spacing: 0em;
	margin:0px;
	padding:0px;
	margin-top:20px;
}

.box-1 h3{
	font-family:Tahoma;
	border:0px;
	letter-spacing: 0em;
	word-spacing: 0em;
	margin:0px;
	padding:0px;
	margin-bottom:5px;
}

.box-1 h4{
	font-family:Tahoma;
	border-top:20px;
	letter-spacing: 0em;
	word-spacing: 0em;
	margin:0px;
	padding:0px;
	margin-top:0px;
}

.box-2{
	border:3px dotted #ccc;
	padding: 20px;
	margin:20px;
}

.categories{
	border:1px #ccc solid;
	padding:10px;
	border-radius:15px;
}


.categories h2{
	text-align:center;
}

.categories ul{
	padding-left: 15px;
	/*list-style: none;*/
}

/*.categories{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	list-style-image: url('../images/check.png');

}*/
